{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'simple_managing_names/style.css' %}">
    <title>TOOWTRSYWEN</title>
  </head>
  <body>    
    {% block title %}
      <div class="nav d-flex flex-lg-row flex-column justify-content-between align-items-center">
          <div class="nav-title">
            <h1><a href="/admin">TOOWTRSYWEN</a></h1>
          </div>
          <div class="nav-tools">
            <a href="/query">Időpontjaim</a> / 
            <a href="/check_in_out">Api</a> /
            <a href="/admin">Vissza az admin oldalra</a> / 
            <a href="/admin/logout">Kijelentkezés</a>  
          </div>
      </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

  </body>
</html>