{% extends 'names/base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Hello' %}</h1>
    {% if name_list %}
        <ul>
            {% for name in name_list %}
                <li>
                    {{name}}
                </li>
                <form action="/names/delete/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="delete" value="{{name.id}}">
                    <button type="submit" class="btn btn-danger btn-sm">{% trans 'Delete' %}</button>
                </form> 
            {% endfor %}
        </ul>
    {% endif %}
    <a class="btn btn-primary" href="addNewName/">Add name</a>

    <form action="/names/search/" method="post">
        {% csrf_token %}
        <input type="text" name="search" value="">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
	
	
{% endblock %}